body{
text-align: center;
background-color: beige;
}
label{
    display: block;
    padding:50px
}
.container{
    display: flex;
    flex-direction:column ;
    width: 100vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
input{
    width: 50%;
    height: 300%;
    font-size: large;
    border: 2px solid rgb(0, 255, 255);
}
#submit-btn{
    margin:1 rem;
    padding: 30px;
    border:2px solid  crimson;


}
div{
    padding: 50px;
}
ul li{
    display: inline;
}
footer{
    font-size: x-large;
}